scikit-learn==1.0.2
librosa==0.9.1
SoundFile==0.10.3.post1
matplotlib==3.5.2
ray==1.12.0
mlflow==1.25.1
bayesian-optimization==1.2.0
audiomentations==0.25.1
torch==1.11.0
torchvision==0.12.0
torchaudio==0.11.0
fs.sshfs==1.0.1
fs==2.4.16
seaborn==0.12.2
lightning==2.0
jsonargparse[signatures]>=4.17.0
black==23.1.0
noisereduce==2.0.1
mir-eval==0.6
numpy==1.19.5
protobuf==3.20.3